<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <script type="text/javascript" href="../javascript/script.js"></script>
    <title>Home</title>
</head>
    <body>
    
        <header class="container-header">
            <div class="divLogo">
                <img src="../Img/logo.png" alt="Logo da Fatec" class="logoFatec">
            </div>
        </header>

        <main class="container-main">
        
            <div class="container-geral">
                <div class="container-buttons">

                    <button class="button is-success">
                        <i class="material-icons">home</i> 
                        Professores
                    </button>
                    <button class="button is-link">
                        <i class="material-icons">home</i> 
                        Reservas
                    </button>
                    <button class="button is-warning">
                        <i class="material-icons">home</i> 
                        Salas e Maquinas
                    </button>
                    <button class="button is-info">
                        <i class="material-icons">home</i> 
                        Horarios
                    </button>
                    <button class="button is-primary">
                        <i class="material-icons">home</i> 
                        Formularios
                    </button>
                    <button class="button is-danger">
                        <i class="material-icons">homes</i> 
                        Semestres
                    </button>

                </div>
            </div>

        </main>

        <footer>
            <p>Copyright © Fatec Presidente Prudente 2023</p>
        </footer>

        <!--JAVASCRIPT DA PAGINA-->
                    
        <script>

            

        </script>

    </body>
</html>