<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    
    <head>
        <meta charset="UTF-8">
        <title>MercadoNFT - Pagina Inicial</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        <link rel="shortcut icon" href="../../../public/images/favicon.ico">

        <!-- Css -->
        <link href="../../../public/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        <link href="../../../public/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
        <link href="../../../public/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../../../public/css/style.css">
    </head>
    
    <body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900">
        
        <!-- Menu -->
        <nav id="topnav" class="defaultscroll is-sticky">
            <div class="container relative">

                <!-- Logo -->
                <a class="logo ps-0" href="../index.html">
                    <img src="../../../public/images/logo-icon-30.png" class="inline-block sm:hidden"  alt="">
                    <div class="sm:block hidden">
                        <img src="../../../public/images/logo-dark.png" class="inline-block dark:hidden" alt="">
                        <img src="../../../public/images/logo-light.png" class="hidden dark:inline-block" alt="">
                    </div>
                </a>

                <div class="menu-extras">
                    <div class="menu-item">

                        <!-- Mobile Menu -->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>

                    </div>
                </div>

                <!--Botão Login-->
                <ul class="buy-button list-none mb-0">
                    <li class="inline-block mb-0">
                        <div class="form-icon relative">
                            <i class="uil uil-search text-lg absolute top-1/2 -translate-y-1/2 start-3"></i>
                            <input type="text" class="form-input sm:w-64 w-40 ps-10 py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded-3xl outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 bg-white" name="s" id="searchItem" placeholder="Pesquisar...">
                        </div>
                    </li>
                    <li class="dropdown inline-block relative ps-1">
                        <button data-dropdown-toggle="dropdown" class="dropdown-toggle size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-indigo-600 hover:bg-indigo-700 border border-indigo-600 hover:border-indigo-700 text-white" type="button">
                            <img src="../../../public/images/client/05.jpg" class="rounded-full" alt="">
                        </button>
                        
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-48 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 hidden" onclick="event.stopPropagation();">
                            <div class="relative">
                                <div class="py-8 bg-gradient-to-tr from-indigo-600 to-red-600"></div>
                                <div class="absolute px-4 -bottom-7 start-0">
                                    <div class="flex items-end">
                                        <img src="../../../public/images/client/05.jpg" class="rounded-full size-10 shadow dark:shadow-gray-700" alt="">

                                        <span class="font-semibold text-[15px] ms-1">Lauraam0110</span> <!--15 CARACTERES NO NOME-->
                                    </div>
                                </div>
                            </div>

                            <div class="mt-10 px-4">
                            </div>

                            <ul class="py-2 text-start">
                                <li>
                                    <a href="#" class="block text-[14px] font-semibold py-1.5 px-4 hover:text-indigo-600"><i class="uil uil-sign-out-alt text-[16px] align-middle me-1"></i> Desconectar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div id="navigation">  
                    <ul class="navigation-menu justify-start">
                        <li><a href="../usuarios/perfil.html" class="sub-menu-item">Perfil</a></li>

                        <li class="has-submenu parent-parent-menu-item">
                            <a href="javascript:void(0)">NFT</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="../nft/mercado.html" class="sub-menu-item">Mercado</a></li>
                                <li><a href="../nft/criadores.html" class="sub-menu-item">Criadores</a></li>
                                <li><a href="../nft/nft-criar.html" class="sub-menu-item">Vender</a></li>
                            </ul>
                        </li>

                        <li class="has-submenu parent-parent-menu-item">
                            <a href="javascript:void(0)">Suporte</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="../empresa/suporte/suporte.html" class="sub-menu-item">Ajude-me</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="relative table w-full py-32 lg:py-40 bg-gray-50 dark:bg-slate-800">
            <div class="container relative">
                <div class="grid grid-cols-1 text-center mt-10">
                    <h3 class="text-3xl leading-normal font-semibold">Termos de Serviço</h3>
                </div>
            </div>
            
            <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-indigo-600"><a href="#">Sobre</a></li>
                    <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold text-indigo-600" aria-current="page">Termos de Serviço</li>
                </ul>
            </div>
        </section>

        <div class="relative">
            <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white dark:text-slate-900">
                <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>

        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="md:flex justify-center">
                    <div class="md:w-3/4">
                        <div class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md">
                            <h5 class="text-xl font-semibold mb-4">Introdução</h5>
                            <p class="text-slate-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde quae ipsum perferendis illo sequi, praesentium officia sint quod natus similique, odit rerum aspernatur amet aut accusamus et nulla esse?</p>
                            
                            <h5 class="text-xl font-semibold mb-4 mt-8">Termos de Uso</h5>
                            <p class="text-slate-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde quae ipsum perferendis illo sequi, praesentium officia sint quod natus similique, odit rerum aspernatur amet aut accusamus et nulla esse</p>
                            <p class="text-slate-400 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde quae ipsum perferendis illo sequi, <b class="text-red-600">praesentium</b> officia sint quod natus similique, odit rerum aspernatur amet aut accusamus et nulla esse</p>
                        <p class="text-slate-400 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem unde quae ipsum perferendis illo sequi, praesentium officia sint quod natus similique, odit rerum aspernatur amet aut accusamus et nulla esse?</p>
                        
                        <h5 class="text-xl font-semibold mb-4 mt-8">Restrições</h5>
                        <p class="text-slate-400">Você está especificamente restrito de todas as seguintes coisas</p>
                        <ul class="list-none text-slate-400 mt-3">
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 1</li>
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 2</li>
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 3</li>
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 4</li>
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 5</li>
                            <li class="flex mt-2"><i class="uil uil-arrow-right text-indigo-600 text-lg align-middle me-2"></i>lista 6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <!-- Footer -->
        <footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">    
            <div class="container relative">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <div class="py-[60px] px-0">
                            <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                                <div class="lg:col-span-4 md:col-span-12">
                                    <a href="#" class="text-[22px] focus:outline-none">
                                        <img src="../../../public/images/logo-light.png" alt="">
                                    </a>
                                    <p class="mt-6 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, culpa dolores error minima voluptate corrupti sit explicabo accusantium nam corporis laboriosam, laudantium cumque iusto, doloremque nulla! Aperiam delectus maiores recusandae?</p>
                                    <ul class="list-none mt-6">
                                        <li class="inline"><a href="mailto:teste@gmail.com" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                                        <li class="inline"><a href="https://www.instagram.com" target="_blank" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                                        <li class="inline"><a href="http://linkedin.com" target="_blank" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-800 rounded-md hover:border-indigo-600 dark:hover:border-indigo-600 hover:bg-indigo-600 dark:hover:bg-indigo-600"><i class="uil uil-linkedin" title="Linkedin"></i></a></li>
                                    </ul>
                                </div>
                        
                                <div class="lg:col-span-2 md:col-span-4">
                                    <h5 class="tracking-[1px] text-gray-100 font-semibold">MercadoNFT</h5>
                                    <ul class="list-none footer-list mt-6">
                                        <li><a href="../empresa/sobre.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Sobre nós</a></li>
                                        <li class="mt-[10px]"><a href="../empresa/termos.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Termos</a></li>
                                        <li class="mt-[10px]"><a href="../login/login-entrar.html" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-[30px] px-0 border-t border-slate-800">
                <div class="container relative text-center">
                    <div class="grid md:grid-cols-2 items-center">
                        <div class="md:text-start text-center">
                            <p class="mb-0">Gabriel Soares Ceravolo - Todos os Direitos Reservados © <script>document.write(new Date().getFullYear())</script></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Voltara para o Topo -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-indigo-600 text-white leading-9"><i class="uil uil-arrow-up"></i></a>

        <!-- Estilo Noturno -->
        <div class="fixed top-[30%] -right-2 z-50">
            <span class="relative inline-block rotate-90">
                <input type="checkbox" class="checkbox opacity-0 absolute" id="chk" />
                <label class="label bg-slate-900 dark:bg-white shadow dark:shadow-gray-800 cursor-pointer rounded-full flex justify-between items-center p-1 w-14 h-8" for="chk">
                    <i class="uil uil-moon text-[20px] text-yellow-500"></i>
                    <i class="uil uil-sun text-[20px] text-yellow-500"></i>
                    <span class="ball bg-white dark:bg-slate-900 rounded-full absolute top-[2px] left-[2px] size-7"></span>
                </label>
            </span>
        </div>

        <!-- JAVASCRIPTS -->
        <script src="../../../public/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="../../../public/libs/feather-icons/feather.min.js"></script>
        <script src="../../../public/js/plugins.init.js"></script>
        <script src="../../../public/js/app.js"></script>
    </body>
</html>