/* Importados */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ====================================== */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #f7f7ff;
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

/* ====================================== */

.container-header
{
    background-color: #B20000;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.logoFatec
{
    height: 95%;
    margin-right: 10px;
}

.divLogo
{
    height: 95%;
    border-right: 2px #FFFFFF solid;
}

/* ====================================== */

.container-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 11px;
    color: #B20000;
    width: 80%;
    margin: 30px 0;
}

.container-geral
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bcbcbc;
    width: 80%;
    border-radius: 5px;
}

.container-semestres
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%;
}

.table-geral
{
    width: 100%;
    background-color: #f7f7ff;
    border-top: 5px #B20000 solid;
    border-bottom: 5px #B20000 solid;
    border-left: 1px #666666 solid;
    border-right: 1px #666666 solid;
    border-collapse: collapse;
}

.table-geral th /*TITULO TABELA*/
{

    background-color: #dadada;
    text-align: center;
    padding: 10px 60px 10px 75px;
}

.table-geral td /*CONTEUDO TABELA*/
{
    border-bottom: 2px #e1e1e1 solid;
    text-align: center;
    padding: 10px 60px 10px 75px;
}

/* ====================================== */

.button-table
{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.on
{
    background-color: green;
}

.on:hover
{
    background-color: rgb(4, 95, 4);
}

.off
{
    background-color: #B20000;
}

.off:hover
{
    background-color: #7E0000;
}

/* ====================================== */

.botao-add-semestre
{
    margin: 20px;
}

.botao-add
{
    padding: 15px 25px;
    background-color: #B20000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size:large;
}

.botao-add:hover
{
    transition: background-color 0.3s ease;
    background-color: #7E0000;
}

/* ====================================== */

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 5px #4B565C solid;
    color: white;
}