*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container1{
    width: 100%;
    align-items: center;
    padding: 35px;
    margin-top: 15%;
    
}
.container-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img.card-img-top{
    width: 260px;
    height: 213.83px;
    margin-left: 15px;
}