body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(195, 195, 195);
    
}

a{
    text-decoration: none;
}

header .cabecalho{
    width: 100%;
    height: 10vh;
    background-color: rgb(251, 85, 58); 
    
}
header .cabecalho a{
    color: white;
    margin-left: 170vh;
}


.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vh;
    
}

header .items img{
    width: 8vh;
    height: 8vh;
}

header .items h1{
    color: rgb(255, 255, 255);
   font-size: 3vh;
   font-size: 5vh;
   
}

.menu-horizontal{
    height: 50px;
    background-color: rgb(251, 119, 48);
    display: flex;
    flex-direction: row;

}
.menu-horizontal ul{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
}
.menu-horizontal ul li{
    list-style: none;
}

.menu-horizontal ul li a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    
}

.menu-horizontal ul li a:hover{
   background-color: rgb(255, 255, 255);
   color: rgb(251, 86, 48);
   border-radius: 5px;
   
}

main{
    width: 50%; 
    margin: 0 auto; 
    text-align: center;
    display: block; 
    
}

main .formulario{
    width: 100vh;
    height: 140vh;
    background-color: white;
    display: flex;      
    justify-content: center;    /* centraliza a div horizontalmente */
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 20vh;
    border-radius: 1%;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    color: rgb(251, 85, 58);
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 5vh;
    
}

#cadastro{
    position: absolute;
    top: 26%;
    left: 32%;
}
main .formulario img{
    width: 4vh;
    height: 4vh;
    display: flex;
    position: absolute;
    top: 32%;
    left: 26%;
   
}

main #submit{
    background-color: rgb(251, 85, 58);
    color: white;
    width: 71vh;
    height: 6vh;
    
}

main #email, #nome, #sob,#cpf, #data, #tel,#cargo, #salario, #email, #senha{
    width: 70vh;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

        

.custom-file-upload {
    border: 1px solid rgb(251, 85, 58);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    color: rgb(251, 85, 58);
    border-radius: 10px;
    font-size: 16px;
    
    
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  }
  
  .custom-file-upload:hover, custom-file-upload:focus, custom-file-upload:active  {
    box-shadow: 0 0 8px rgba(251, 85, 58);
    
  }
  
  #file-upload {
    display: none;
  }





  footer .rodape{
    width: 100%;
    height: 50vh;  
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

footer .foo{
    background-color: rgb(245, 245, 245);
}

footer .foo h3{
    margin-bottom: 4vh;
}

footer h3{
    text-transform: uppercase;
    font-size: 15px;
}

footer p{
    font-size: 10px ;
}

footer .texto2{
    margin-left: 8vh;
}

.pagamento{
    margin-left: 8vh;
    display: flex;
    flex-direction: column;
}

.pagamento img{
    width: 52px;
    height: 22px;
}

footer .siga{
    display: flex;
    flex-direction: row;
    
}

.redes{
    display: flex;
    flex-direction: column;
}
footer .siga img{
    width: 17px;
    height: 17px;
    display: flex;
    margin-bottom: 12px;
    flex-direction: column;
}
.siga p{
    margin-bottom: 16px;
    margin-left: 1vh;
}
.correct{
    display: flex;
    flex-direction: column;
    margin-left: 8vh;
}

.texto3{
    margin-left: 8vh;
}

footer .texto3 img{
    width: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}


.direitos hr{
    width: 180vh;
}
.direitos p{
    text-align: center;
    font-size: 2vh;
}